# ── Server ──
NODE_ENV=          # development / production
HOST=
PORT=

# ── Database ──
DB_HOST=            # private IP of MySQL server in prod, localhost in dev
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ── SSL for MySQL connection ──
DB_SSL=                  # true in prod, false in dev
DB_SSL_CA_PATH=          #./certs/ca.pem

# ── JWT ──
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

# ── Frontend ──
FRONTEND_ORIGIN=   # adjust for production domain